%header
  .hero-unit
    %h1
      \#HugFriday?
    %p
      This is somewhat a tribute to
      %a{href: 'http://tenderlovemaking.com/about_me'} Aaron Patterson
      (mostly known as <a href='https://twitter.com/#!/tenderlove'>@tenderlove</a>),
      "a mild mannered Ruby programmer by day, and a Michael McDonald impersonator by night",
      like he describes himself.
    %p
      However, what's most impressive about Aarron is that he knows like no one else how to contribute.
      Not only for his <a href='https://github.com/tenderlove'>open source contributions</a>, 
      but mostly because the way he shares happiness.
    %p
      Last year (2011), Aaron started sharing on his Twitter, every Friday, pictures of him giving a hug,
      and since then people reply with hugs back to him, making Friday a little bit better to everyone 
      that follows him.
    %p
      And, this Friday (Feb, 24th 2012), I watched a presentation by 
      %a{href: 'http://www.shawnachor.com/'} Shawn Achor
      called
      %a{href: 'http://www.ted.com/talks/shawn_achor_the_happy_secret_to_better_work.html'} "The happy secret to better work"
      which he basically says that good thinking makes better work or leads to better results eventually.
    %p
      So this got me motivated to aggregate all the happiness Aaron shared (or incentivated to be shared) on this simple app.
    %p
      I hope you all enjoy it. :)
    %p
      %em
        If you have any suggestions, complaints or anything else to say <a href='mailto:kris@commita.com'>contact me</a>.
    %p
      %a{href: '/', class: 'btn btn-large'} Back
