header .bird {
  background: url('../images/twitter_newbird_blue.png') no-repeat top left;
  height: 150px;
}

header .bird h2 {
  margin-left: 150px;
  padding-top: 50px;
}

footer {
  text-align: right;
}
