header a:hover {
  text-decoration:none;
}

header .feed {
  text-align: right;
  margin-top: 5px;
}
sub-header.home a {
  color: #ccc;
  text-decoration: none;
}

sub-header.home a:hover {
  color: #ccc;
}

sub-header .bird {
  background: url('../images/twitter_newbird_blue.png') no-repeat top left;
  height: 150px;
}

sub-header .bird h2 {
  margin-left: 150px;
  padding-top: 50px;
}

sub-header .hugs-count {
  text-align: right;
}

#facebox img {
  max-width:800px;
}

footer {
  text-align: right;
}
